body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.calculation-box {
  height: 40px;
  width: 250px;
  position: absolute;
  top: 50px;
  /* bottom: 0px; */
  right: 0px;
  color: #ddd;
  background-color: #212121;
  border-bottom: solid 2px #b0b6e8;
}

h1 {
  font-size: 18px;
  color: #b0b6e8;
  margin: 10px;
  font-weight: 400;
  line-height: 24px;
  /* padding: 20px 2px; */
  /* color: #fff; */
}

a {
  color: #404040;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  color: #101010;
}

h2 {
  color: #4e5dc1;
  margin: 10px;
  font-size: 12px;
}
/* #da587d #b0b6e8*/

h3 {
  margin: 10px;
  font-size: 0.9em;
  color: #b0b6e8;
}

h4 {
  margin: 10px;
  font-size: 1em;
  line-height: 15px;
  color: #fff;
}
h5 {
  font-size: 12px;
  font-family: Roboto;
  line-height: 21px;
  margin: 11px;

  /* margin: 1.2em; */
  text-align: left;
  color: white;
  font-variant: normal;
  font-weight: lighter;
}
h6 {
  font-size: 10px;
  margin: 10px;
  text-align: left;
  font-family: Roboto;
  font-weight: lighter;
  color: #b0b6e8;
}

p {
  font-size: 12px;
  margin: 0px;
  /* line-height: 15px; */
  margin-bottom: -3px;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.heading {
  /* border-bottom: 1px solid #212121; */
  position: absolute;
  z-index: 1;
  width: 250px;
  height: 50px;
  line-height: 60px;
  padding: 0 10px;

  background-color: #212121;
  text-align: center;
}

.header {
  z-index: 1;
  background-color: #212121;
  position: fixed;
  color: white;
  width: 100%;
  height: 75px;
  top: 0;
  text-decoration: none;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-decoration: none;
  color: white;
  position: fixed;
  left: 50px;
  top: 25px;
  z-index: 1;
}

nav {
  position: fixed;
  height: 4%;
  top: 2%;
  width: 100%;
  margin-right: 1%;
}

ul {
  list-style-type: none;
  height: 100%;
  width: 30%;
  padding: 0;
  margin-right: 0;
  margin-left: auto;
}

li {
  float: right;
  text-align: center;
  top: 1%;
  height: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.navi {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #a9a9a9;
}

.map-overlay {
  position: fixed;
  z-index: 2;
  width: 270px;
  bottom: 0;
  top: 75px;
  right: 0;
  /* font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif; */
  background-color: #212121;
  /* height: 400px; */
  max-height: 100%;
  /* bottom: 350px; */
  /* overflow: auto; */
  border-bottom: #b0b6e8;
}

.map-overlay fieldset {
  display: none;
  background: #212121;
  border: none;
  padding: 10px;
  margin: 0;
}

.map-overlay input {
  /* display: inline-block; */
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.map-overlay .listing {
  top: 420px;
  overflow: auto;
  /* max-height: 100%; */

  bottom: 0px;
}

.map-overlay .listing > * {
  display: absolute;
  padding: 5px 10px;
  margin: 0;
}

.map-overlay .listing a {
  /* border-bottom: 2px solid #b0b6e8; */
  color: #eee;
  text-decoration: none;
}

.map-overlay .listing a:last-child {
  border: none;
}

.map-overlay .listing a:hover {
  background: #212121;
}
.map-overlay .listing-heading {
  position: absolute;
  /* z-index: 1; */
  /* width: 250px; */
  top: 390px;
  height: 50px;
  line-height: 60px;
  margin-left: 15px;
  /* padding: 0 10px; */

  background-color: #212121;
  text-align: center;
}

.svg-heading {
  position: absolute;
  /* position: absolute; */
  font-size: 14px;
  z-index: 1;
  /* bottom: 340px; */
  /* top: 75px; */
  width: 270px;
  height: 50px;
  right: 0;
  top: 40px;
  /* background-color: #212121; */
  /* border-top: 2px solid #b0b6e8; */
  text-align: center;
}
.svg-container {
  position: absolute;
  font-size: 10px;
  z-index: 1;
  width: 270px;
  margin: 0px;
  top: 50px;
  right: 0;
  height: 290px;
  /* bottom: 0px; */
  /* padding: 5px; */
  /* background-color: #212121; */
  color: #b0b6e8;
  /* margin-bottom: 20px; */
}

.axiswhite line {
  stroke: #ddd;
  stroke-width: 0.1px;
}

.axiswhite path {
  stroke: #ddd;
}

.axiswhite text {
  fill: #ddd;
  font-size: 8px;
}

.listings {
  height: 100%;
  position: absolute;
  top: 450px;

  overflow-y: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-top: 0.5px solid #4e5dc1;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #f8f8f8;
  font-weight: 700;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
  color: #b0b6e8;
}

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #b0b6e8;
  border-radius: 0;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  /* font: 400 12px/22px "Montserrat", sans-serif; */
  padding: 10px;
  width: 240px;
  color: #fff;
  /* height: 190px; */
  background: #212121;
  display: "inline-block";
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.mapboxgl-popup-content-wrapper {
  display: "inline-block";
  padding: 1%;
  background: #212121;
  color: #212121;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.mapboxgl-popup-content h2 {
  display: block;
  margin-left: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 27px;
  background: #212121;
  color: #b0b6e8;
  line-height: 36px;
  margin-top: 1px;
  margin-bottom: 5px;

  /* color: #fff; */
}

.mapboxgl-popup-content h3 {
  background: #212121;

  color: #4e5dc1;
  margin: 0px;
  display: block;
  padding: 0px;
  font-size: 15px;
  border-radius: 16px;
  font-weight: 100;
  margin-bottom: 1.5;

  margin-top: 1.5;
}

.mapboxgl-popup-content div {
  /* padding: 10px; */
  background: #212121;
  display: "inline-block";
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
  color: #212121;
  background-color: #212121;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
  background-color: #212121;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #212121;
}

.popup-status {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  left: 0;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.popup-figure h2 {
  font: 24px "Montserrat", sans-serif;
  color: #fff;
}
.popup-figure h3 {
  /* font: 12px/16px "Montserrat"; */
  font-size: 14px;
  color: #fff;
}

.popup-name h3 {
  font: 12px/16px "Montserrat";
  font-size: 14px;
  color: #fff;
}
.popup-name h2 {
  font: 24px "Montserrat", sans-serif;
  color: #fff;
}

/* geocoder */
.geocoder {
  position: absolute;
  z-index: 1;
  width: 270px;
  right: 0;
  /* left: 50%; */
  margin-left: 25%;
  /* top: 75px; */
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  border-radius: 0;
  /* background-color: black; */
}
.mapboxgl-ctrl-geocoder input {
  padding: 6px 35px;
  color: #212121;

  /* background-color: black; */
}

/* setuplegend */
.legend {
  position: fixed;
  z-index: 1;
  top: 80px;
  /* margin-bottom: 60px; */

  width: 235px;
  height: 80px;

  left: 0;
  background: #212121;
  opacity: 0.9;
  margin-left: 13px;
  font-family: sans-serif, "Open Sans";
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.labels-legend {
  position: absolute;
  /* display:block; */
  display: flex;
  font-size: 10px;
  width: 100%;
  justify-content: space-between;

  overflow: hidden;
}

.location-legend {
  margin: 10px;
  height: 6px;
  background: linear-gradient(
    90deg,
    #e6e7ea 0,
    #e6e7ea 20%,
    #b0b6e8 20%,
    #b0b6e8 40%,
    #4e5dc1 40%,
    #4e5dc1 60%,
    #49349d 60%,
    #49349d 80%,
    #da587d 80%,
    #da587d 100%
  );
}

.as-caption {
  font-family: sans-serif, "Open Sans";
  margin: 10px;
  margin-top: 0px;

  /* text-align: justify; */
  color: #fff;
  font-size: 12px;
}

select {
  position: absolute;
  z-index: 1;
  margin: 10px 20px 10px 20px;
  /* margin-top: 5px; */
  top: 370px;
  color: #fff;
  height: 30px;
  font: 12px "Montserrat", sans-serif;
  background-color: #212121;
  width: 230px;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
